html, body {
    background-image: url('../src/ui.gif'); /* Ajusta la ruta según la ubicación de tu imagen */
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

body {
    transition: background-color 0.3s, color 0.3s;
}

body.dark {
    background-color: #1a202c; /* Color de fondo oscuro */
    color: #cbd5e0; /* Color de texto claro */
}

.fade-in {
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.parallax {
    background-attachment: fixed;
}

.input-focus:focus {
    background-color: #4a5568;
}

.shadow-2d {
    box-shadow: 0 4px 8px rgb(255, 254, 254), 0 6px 20px rgba(255, 255, 255, 0.452);
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

.contenedornodo {
    background: rgba(187, 184, 184, 0.26);
    box-shadow: 0 0 10px rgb(236, 233, 233);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    text-align: center;
}

.input_bg {
    background: rgba(91, 90, 90, 0.411);
}

.input_bg::placeholder {
    color: rgb(255, 250, 250);
}

.modalcito {
   display: flex;
}
.table-responsive {
    overflow-x: auto; /* Permite el desplazamiento horizontal */
    -webkit-overflow-scrolling: touch; /* Mejora el desplazamiento en dispositivos táctiles */
}

table {
    width: 100%; /* Asegura que la tabla ocupe el 100% del contenedor */
    border-collapse: collapse; /* Elimina el espacio entre celdas */
}

th, td {
    padding: 10px; /* Espaciado interno */
    text-align: left; /* Alineación del texto */
}

@media (max-width: 768px) {
    th, td {
        display: block; /* Hace que las celdas se comporten como bloques */
        width: 100%; /* Cada celda ocupa el 100% del ancho */
    }

    tr {
        margin-bottom: 15px; /* Espacio entre filas */
        display: block; /* Hace que las filas se comporten como bloques */
    }
}